<Languages><List>
	<Language Name="Portuguese">
		<DisplayName>Portuguese</DisplayName>
		<Icon>Portuguese</Icon>
		<UIMode>1</UIMode>
		<Desc>Traduçao brazileira feita por fans by Take Over :</Desc>
		<!--Word Connect with space-->
		<SpaceConnect>true</SpaceConnect>
		<!--FamilyName Postposition-->
		<FamilyPostposition>false</FamilyPostposition>
	</Language>
</List></Languages>
	