<Texts Type="Other">
	<List>
		<Text Name="Normal">
			<Events.0.Story>[nome] foi pego em transe por algum motivo.</Events.0.Story>
			<Events.1.Story>[name] [rand_string=espirrou, arrotou, ficou com areia nos olhos, bocejou, começou a falar sozinho, coçou a barriga, se coçou, de repente se sentiu meio entediado, penteou o cabelo com os dedos, colocou algo no sapato, pisou em algo, ajustou a roupa suspirou, franziu a boca, lambeu os lábios, colocou a língua para fora, tirou a poeira, estava cantarolando uma música, queria alguém com quem conversar, queria tentar escrever poemas, sentia que a garganta estava coçando, bufou].</Events.1.Story>
			<Events.2.Story>[name] [rand_string=circulou seu Qi, recitou um mantra várias vezes, passou por um canto taoísta em sua mente].</Events.2.Story>
			<Events.3.Story>[name] de repente sentiu que sua [rand_string=Olho Direito, Olho Esquerdo] twitched a little.</Events.3.Story>
			<Events.4.Story>[name] parecia ter ouvido alguém chamando-os.</Events.4.Story>
			<Events.5.Story>[name] queria falar com alguém sobre [rand_lable=obj_friend,obj_nearthing,other=obj,obj_action].</Events.5.Story>
			<Events.6.Story>[name] realmente gosta[rand_lable=obj_weather,obj_action].</Events.6.Story>
			<Events.7.Story>[name] olhou para o próximo [rand_lable=obj_friend,obj_nearthing], [rand_string=zoando, rindo, ponderando sobre algo].</Events.7.Story>
			<Events.8.Story>[name] queria ter [obj_equip] [rand_string=alterado, limpo, reorganizado].</Events.8.Story>
		</Text>
	</List>
</Texts>