<Texts Type="Other">
	<List>
		<Text Name="Normal">
			<Events.0.Story>[name] ficou em transe por algum motivo.</Events.0.Story>
			<Events.1.Story>[name] [rand_string=espirrou,arrotou,teve areia nos olhos,bocejou,começou a falar sozinho,coçou a barriga,coçou-se,subitamente ficou meio entediado,passou os dedos no cabelo,teve algo no sapato,pisou em algo,ajustou as roupas,suspirou,franziu a boca,lambeu os lábios,mostrou a língua,se limpou,assobiava,quis conversar com alguém,quis tentar escrever poemas,fez cócegas na garganta,bufou].</Events.1.Story>
			<Events.2.Story>[name] [rand_string=circulou seu Qi,recitou um mantra várias vezes,passou por um cântico taoísta na mente].</Events.2.Story>
			<Events.3.Story>[name] subitamente sentiu que seu [rand_string=Olho Direito,Olho Esquerdo] se contraiu um pouco.</Events.3.Story>
			<Events.4.Story>[name] pareceu ouvir alguém chamando por ele.</Events.4.Story>
			<Events.5.Story>[name] queria conversar com alguém sobre [rand_lable=obj_friend,obj_nearthing,other=obj,obj_action].</Events.5.Story>
			<Events.6.Story>[name] realmente gosta de [rand_lable=obj_weather,obj_action].</Events.6.Story>
			<Events.7.Story>[name] ficou olhando para o [rand_lable=obj_friend,obj_nearthing], [rand_string=distraído,rindo,ponderando algo].</Events.7.Story>
			<Events.8.Story>[name] queria que [obj_equip] fosse [rand_string=modificado,limpo,reorganizado].</Events.8.Story>
		</Text>
	</List>
</Texts>