<Texts Type="Other">
	<List>
		<Text Name="_OnTheWay">
			<DisplayName>No Caminho</DisplayName>
		</Text>
		<Text Name="_GodOnTheWay">
			<DisplayName>Deus a caminho</DisplayName>
		</Text>
		<Text Name="_InMap">
			<DisplayName>Área</DisplayName>
		</Text>
		<Text Name="_StayFree">
			<DisplayName>Vagando por aí em aventuras.</DisplayName>
		</Text>
		<Text Name="Place_OldSchool">
			<DisplayName>Seita Antiga</DisplayName>
		</Text>
		<Text Name="_TestMap">
			<DisplayName>No Caminho</DisplayName>
		</Text>
		<Text Name="_LOSTPALCE">
			<DisplayName>Terra Perdida (Vazio)</DisplayName>
		</Text>
	</List>
</Texts>