<Texts Type="Other">
	<List>
		<Text Name="_OnTheWay">
			<DisplayName>A caminho</DisplayName>
		</Text>
		<Text Name="_GodOnTheWay">
			<DisplayName>Deus a caminho</DisplayName>
		</Text>
		<Text Name="_InMap">
			<DisplayName>Area</DisplayName>
		</Text>
		<Text Name="_StayFree">
			<DisplayName>Vagando em aventuras.</DisplayName>
		</Text>
		<Text Name="Place_OldSchool">
			<DisplayName>Seita Anciã</DisplayName>
		</Text>
		<Text Name="_TestMap">
			<DisplayName>A caminho</DisplayName>
		</Text>
		<Text Name="_LOSTPALCE">
			<DisplayName>Terra perdida (Empty)</DisplayName>
		</Text>
	</List>
</Texts>