<Texts Type="Other">
	<List>
		<Text Name="LostPart">
			<DisplayName>Item perdido</DisplayName>
		</Text>
		<Text Name="SYS_DamageMethod">
			<DisplayName>Feitiço da Remodelagem de Ferimentos</DisplayName>
		</Text>
		<Text Name="SYS_RebuildMethod">
			<DisplayName>Feitiço da Reconstrução</DisplayName>
			<Desc>Reconstrói a parte perdida.</Desc>
		</Text>
		<Text Name="SYS_yishan">
			<DisplayName>Centelha de inspiração</DisplayName>
			<Desc>Centelha de inspiração</Desc>
		</Text>
	</List>
</Texts>